In [2]:
print("Hello world")

Hello world

In [3]:
if 5>2:
    print("5 is greater than 2")

5 is greater than 2

In [4]:
# this is a comment

In [6]:
x=5
y="John"
print(x)
print(y)

5
John

In [7]:
x=4
x="Sally"
print(x)

Sally

In [10]:
x=str(3)
y=int(3)
z=float(3)

In [12]:

print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
x="John"
y='John'

In [14]:
print(x,y)

John John

In [15]:
a=4
A="Sally"
print(a,A)

4 Sally

In [16]:
x,y,z="Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [17]:
x=y=z="Orange"

In [18]:
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [19]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [20]:
x = "Python is awesome"
print(x)

Python is awesome

In [21]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [22]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [23]:
x = 5
y = 10
print(x + y)

15

In [25]:
x = 5
y = "John"
print(x, y)

5 John

In [26]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [29]:
#global variables
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [30]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [31]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [32]:
carname ="Volvo"

In [33]:
print(carname)

Volvo

In [34]:
"""Python has the following data types built-in by default, in these categories:
Text Type: 	str
Numeric Types: 	int, float, complex
Sequence Types: 	list, tuple, range
Mapping Type: 	dict
Set Types: 	set, frozenset
Boolean Type: 	bool
Binary Types: 	bytes, bytearray, memoryview
None Type: 	NoneType"""

'Python has the following data types built-in by default, in these categories:\nText Type: \tstr\nNumeric Types: \tint, float, complex\nSequence Types: \tlist, tuple, range\nMapping Type: \tdict\nSet Types: \tset, frozenset\nBoolean Type: \tbool\nBinary Types: \tbytes, bytearray, memoryview\nNone Type: \tNoneType'

In [35]:
a = "Hello World"
b = 20 
c = 20.5 
d = 1j

print(a)
print(b)
print(c)
print(d)

Hello World
20
20.5
1j

In [36]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [37]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [38]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [48]:
x=range(6)
print(x)

range(0, 6)

In [49]:
x ={"name ": "Irshad", "age": 22}
print(x)
print(type(x))

{'name ': 'Irshad', 'age': 22}
<class 'dict'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"})

In [47]:
x= {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [53]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [51]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [52]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [55]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [56]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [57]:
# defining data types using standard constructors

In [58]:
#same , here str is standard constructor

x = str("Hello World")
y= "Hello World"

print(x)
print(y)

print(type(x))
print(type(y))

Hello World
Hello World
<class 'str'>
<class 'str'>

In [60]:
x = list(("apple", "banana", "cherry"))
y = ["apple", "banana", "cherry"]

In [61]:
print(x)
print(y)

print(type(x))
print(type(y))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
<class 'list'>
<class 'list'>

In [62]:
x = dict(name="John", age=36)
y= { "name":"Irshad","age":"22"}

print(x)
print(y)

print(type(x))
print(type(y))

{'name': 'John', 'age': 36}
{'name': 'Irshad', 'age': '22'}
<class 'dict'>
<class 'dict'>

In [63]:
x = set(("apple", "banana", "cherry"))
y= {"apple", "banana", "cherry"}

print(x)
print(y)

print(type(x))
print(type(y))

{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'apple'}
<class 'set'>
<class 'set'>

In [64]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [65]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [66]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [67]:
#random numbers

In [68]:
import random

print(random.randrange(1, 10))

3

In [69]:
import random

print(random.randrange(1, 10))

9

In [70]:
a = "Hello, World!"
print(a[1])

e

In [71]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [72]:
a = "Hello, World!"
print(len(a))

13

In [73]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [74]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [75]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [76]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [77]:
b = "Hello, World!"
print(b[2:5])

llo

In [78]:
b = "Hello, World!"
print(b[:5])

Hello

In [79]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [80]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [81]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [82]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [83]:
# remove white space

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [84]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [85]:
#splits the string into multiple elem of a list based on the character passed
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [86]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [87]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [88]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [89]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [90]:
txt = "We are the so-called \"Vikings\" from the north."

In [91]:
print(txt)

We are the so-called "Vikings" from the north.

In [92]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [93]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [94]:
print(bool("Hello"))
print(bool(15))

True
True

In [95]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [96]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [97]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [98]:
def myFunction() :
  return True

print(myFunction())

True

In [99]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [100]:
5/2

2.5

In [101]:
5//2

2

In [102]:
5**2

25

In [103]:
mylist = ["apple", "banana", "cherry"]

In [104]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [105]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [106]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [107]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [108]:
list1 = ["abc", 34, True, 40, "male"]

In [109]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [110]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [111]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [112]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [113]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [114]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [115]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [116]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [117]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [118]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [119]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [120]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [121]:
#Example
# Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [125]:
# The insert() method inserts an item at the specified index:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [123]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [124]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [126]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [127]:
#Using the append() method to append an item:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [128]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [129]:
# specified index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [130]:
#last item default 
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [131]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [132]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [133]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [134]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [135]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [136]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [137]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [138]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [139]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [140]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [141]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [143]:
# Example

# Sort the list based on how close the number is to 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [144]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [145]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [146]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [147]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [148]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [149]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [150]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [151]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [152]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [153]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [154]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [155]:
# Create Tuple With One Item

# To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
# Example

# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [156]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [157]:
tuple1 = ("abc", 34, True, 40, "male")

In [158]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [159]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [160]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [161]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [162]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [163]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [164]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [165]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [166]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [167]:
# Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

# But there are some workarounds.
# Change Tuple Values

# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [169]:
# Example

# Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [170]:
print(y)

['apple', 'banana', 'cherry', 'orange']

In [171]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [173]:
# Example

# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(y)

['banana', 'cherry']

In [175]:
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) #this will raise an error because the tuple no longer exists

In [176]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [177]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [178]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [179]:
# To join two or more tuples you can use the + operator:
# Example

# Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [180]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [181]:
myset = {"apple", "banana", "cherry"}

In [182]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [183]:
# Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [184]:
#* Note: Set items are unchangeable, but you can remove items and add new items.

In [185]:
#Set items are unordered, unchangeable, and do not allow duplicate values.

In [187]:
#Duplicates Not Allowed

#Sets cannot have two items with the same value.

In [188]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [189]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [190]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [191]:
set1 = {"abc", 34, True, 40, "male"}

In [192]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [193]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [194]:
"""Python Collections (Arrays)

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.
"""

'Python Collections (Arrays)\n\nThere are four collection data types in the Python programming language:\n\n    List is a collection which is ordered and changeable. Allows duplicate members.\n    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.\n    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.\n    Dictionary is a collection which is ordered** and changeable. No duplicate members.\n'

In [195]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [196]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'mango', 'cherry', 'papaya', 'banana', 'apple'}

In [197]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [198]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [199]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [200]:
#Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [201]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [203]:
thisset = {"apple", "banana", "cherry"}

del thisset

#print(thisset)

In [204]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [205]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

In [206]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'c', 'b'}

In [207]:
# Keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [208]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [209]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [210]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [211]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [212]:
# Duplicates Not Allowed

# Dictionaries cannot have two items with the same key:
# Example

# Duplicate values will overwrite existing values:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [213]:
print(len(thisdict))

3

In [214]:
thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [215]:
# Accessing Items

# You can access the items of a dictionary by referring to its key name, inside square brackets:
# Example

# Get the value of the "model" key:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [216]:
x = thisdict.get("model")

In [217]:
x = thisdict.keys()

In [218]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [220]:
x = thisdict.values()

In [221]:
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [222]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [225]:
#Get Items

#The items() method will return each item in a dictionary, as tuples in a list.
x = thisdict.items()

In [224]:
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [226]:
x = thisdict.items()

In [227]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [228]:
# Example

# Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [230]:
#Check if Key Exists
thisdict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [231]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [232]:
# Update Dictionary

# The update() method will update the dictionary with the items from the given argument.

# The argument must be a dictionary, or an iterable object with key:value pairs.
# Example

# Update the "year" of the car by using the update() method:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [233]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [234]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [235]:
# Example

# The pop() method removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [236]:
# removing last item
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [238]:
# The del keyword removes the item with the specified key name:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [240]:
# The clear() method empties the dictionary:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [244]:
for x in thisdict:
  print(x)

In [245]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [246]:
#keys
for x in thisdict:
  print(x)

brand
model
year
color

In [247]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964
red

In [248]:
for x in thisdict.keys():
  print(x)

brand
model
year
color

In [249]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964
color red

In [250]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [251]:
#Create a dictionary that contain three dictionaries:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [252]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [253]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [254]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [255]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [256]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [257]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [258]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [259]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [261]:
#The pass Statement

#if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.
#Example
a = 33
b = 200

if b > a:
  pass

In [262]:
# The while Loop

# With the while loop we can execute a set of statements as long as a condition is true.
# Example

# Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [263]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [264]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [265]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [266]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [267]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [269]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [270]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [271]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [272]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [273]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [274]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [275]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [276]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [277]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [278]:
for x in [0, 1, 2]:
  pass

In [279]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [280]:
# def my_function():
#   print("Hello from a function")

In [282]:
# A function is a block of code which only runs when it is called.

# You can pass data, known as parameters, into a function.

# A function can return data as a result.
# Creating a Function

# In Python a function is defined using the def keyword:
# Example
def my_function():
  print("Hello from a function")

In [284]:
# Calling a Function

# To call a function, use the function name followed by parenthesis:
# Example
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [286]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [287]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [288]:
# This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [291]:
#Arbitrary Arguments, *args
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [292]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [293]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [294]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [295]:
# The pass Statement

# function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.
# Example
def myfunction():
  pass

In [296]:
#Recursion Example
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [297]:
cars = ["Ford", "Volvo", "BMW"]

In [298]:
cars.append("Honda")

In [299]:
#Delete the second element of the cars array:
cars.pop(1)

'Volvo'

In [301]:
cars.append("Volvo")
cars.remove("Volvo")

In [302]:
cars.sort()

In [303]:
print(cars)

['BMW', 'Ford', 'Honda']

In [304]:
#Create a class named MyClass, with a property named x:
class MyClass:
  x = 5

In [305]:
p1 = MyClass()
print(p1.x)

5

In [ ]:
# The __init__() Function

# The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

# To understand the meaning of classes we have to understand the built-in __init__() function.

# All classes have a function called __init__(), which is always executed when the class is being initiated.

# Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [306]:
# Example

# Create a class named Person, use the __init__() function to assign values for name and age:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [307]:
# Example

# Insert a function that prints a greeting, and execute it on the p1 object:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
# The self Parameter

# The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

# It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:
# Example

# Use the words mysillyobject and abc instead of self:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

In [312]:
#Delete the age property from the p1 object:
#del p1.age

In [310]:
#Delete the p1 object:
del p1

In [313]:
# The pass Statement

# class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.
# Example
class Person:
  pass

In [314]:
# Python Inheritance

# Inheritance allows us to define a class that inherits all the methods and properties from another class.

# Parent class is the class being inherited from, also called base class.

# Child class is the class that inherits from another class, also called derived class.
# Create a Parent Class

# Any class can be a parent class, so the syntax is the same as creating any other class:
# Example

# Create a class named Person, with firstname and lastname properties, and a printname method:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [315]:
# Create a Child Class

# To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:
# Example

# Create a class named Student, which will inherit the properties and methods from the Person class:
class Student(Person):
  pass

In [316]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [317]:
# Now the Student class has the same properties and methods as the Person class.
# Example

# Use the Student class to create an object, and then execute the printname method:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
# Add the __init__() Function

# So far we have created a child class that inherits the properties and methods from its parent.

# We want to add the __init__() function to the child class (instead of the pass keyword).

In [ ]:


# Note: The __init__() function is called automatically every time the class is being used to create a new object.
# Example

# Add the __init__() function to the Student class:
# class Student(Person):
#   def __init__(self, fname, lname):
#     #add properties etc.

In [318]:
# A variable created inside a function is available inside that function:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [319]:
# Function Inside Function

# As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function:
# Example

# The local variable can be accessed from a function within the function:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [320]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [321]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [322]:
# If you use the global keyword, the variable belongs to the global scope:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [323]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [ ]:
# What is a Module?

# Consider a module to be the same as a code library.

# # A file containing a set of functions you want to include in your application.

In [324]:
import datetime

x = datetime.datetime.now()
print(x)

2022-08-04 22:12:50.906216

In [325]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Thursday

In [326]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [327]:
# Built-in Math Functions

# The min() and max() functions can be used to find the lowest or highest value in an iterable:
# Example
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [328]:
# The abs() function returns the absolute (positive) value of the specified number:
# Example
x = abs(-7.25)

print(x)

7.25

In [329]:
#Return the value of 4 to the power of 3 (same as 4 * 4 * 4):
x = pow(4, 3)

print(x)

64

In [330]:
import math

x = math.sqrt(64)

print(x)

8.0

In [331]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [332]:
import math

x = math.pi

print(x)

3.141592653589793

In [333]:
# Parse JSON - Convert from JSON to Python

# If you have a JSON string, you can parse it by using the json.loads() method.

# The result will be a Python dictionary.
# Example

# Convert from JSON to Python:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [334]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [335]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [336]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [337]:
# Use the indent parameter to define the numbers of indents:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [338]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

In [ ]:
# What is PIP?

# PIP is a package manager for Python packages, or modules if you like.b

In [339]:
# What is a Package?

# A package contains all the files you need for a module.

# Modules are Python code libraries you can include in your project.

In [341]:
pip install camelcase

Collecting camelcase
  Downloading camelcase-0.2.tar.gz (1.3 kB)
Building wheels for collected packages: camelcase
  Building wheel for camelcase (setup.py): started
  Building wheel for camelcase (setup.py): finished with status 'done'
  Created wheel for camelcase: filename=camelcase-0.2-py3-none-any.whl size=1789 sha256=500a333cfce9367acfb379b9ef876bcaf08a442e72c32532e48a65c6bcff65ef
  Stored in directory: c:\users\i1411\appdata\local\pip\cache\wheels\20\1a\a6\5651fe658d5ffd7fcf610723557f7b20a52a71d7e8e1849cb6
Successfully built camelcase
Installing collected packages: camelcase
Successfully installed camelcase-0.2
Note: you may need to restart the kernel to use updated packages.

In [342]:
import camelcase

c = camelcase.CamelCase()

txt = "hello world"

print(c.hump(txt))

Hello World

In [ ]:
pip uninstall camelcase

In [ ]:
pip list

In [ ]:
# The try block will generate an exception, because x is not defined:
try:
  print(x)
except:
  print("An exception occurred")

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

In [ ]:
# # User Input

# # Python allows for user input.

# # That means we are able to ask the user for input.
# Python stops executing when it comes to the input() function, and continues when the user has given some input.

In [ ]:
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

In [ ]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the appending:
f = open("demofile3.txt", "r")
print(f.read())